@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --bg: #FCFCFC;
  --bg-panel: #EBEBEB;
  --color-btn: #0077FF;
  --color-headings: #0077FF;
  --color-text: #000000;
  --input-bg: #fff;
  --color-text-trans: #333;
}

:root[theme='dark'] {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --bg: #333333;
  --bg-panel: #434343;
  --color-btn: #3694FF;
  --color-headings: #3694FF;
  --color-text: #B5B5B5;
  --input-bg: #cccccc;
  --color-text-trans: #cccccc;
}

* {
  box-sizing: border-box;
}

body {
  
  background-color: var(--bg);
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

#root {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  color: var(--color-text);
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  color: var(--color-text);
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h3 {
  color: var(--color-text);
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  color: var(--color-text);
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: var(--bg-panel);
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  color: var(--color-text);
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  background-color: var(--input-bg);
}

.btn {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn.add-transaction {
  background-color:var(--color-btn);
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}
.btn.toggle-theme {
  background-color: #cfcfcf;
  border: 0;
  display: block;
  font-size: 13px;
  margin: 10px 0 30px 0;
  padding: 5px;
  width: 50px;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: var(--bg-panel);
  box-shadow: var(--box-shadow);
  color: var(--color-text-trans);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
/* toggle */
.toggle-container input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle-container label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

.toggle-container label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.toggle-container input:checked + label {
	background: var(--color-headings);
}

.toggle-container input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.toggle-container label:active:after {
	width: 45px;
}

/* transitions */
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}